<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScmNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ScmNotifier.Properties.Settings>
            <setting name="UpdateTimeInSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="GitPathes" serializeAs="String">
                <value>d:\WORK\MyProjects\ScmNotifier\</value>
            </setting>
            <setting name="SshFolder" serializeAs="String">
                <value />
            </setting>
        </ScmNotifier.Properties.Settings>
    </applicationSettings>
</configuration>